<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="js/require.js" data-main="app-admin"></script>
    <link rel="stylesheet" type="text/css" href="css/popups.css"/>
    <link rel="stylesheet" type="text/css" href="css/dukecon.css"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <title>DukeCon Admin - Room Control</title>
</head>
<body>
<header class="darkBack">
    <img src="img/logo_javaland.gif"/>
    <h1>Javaland Room Control</h1>
</header>
<noscript><br><br><br><br>Please enable Javascript to use this site.</noscript>
<main>
    <div id="loading" v-if="loading"></div>
    <button v-on:click="refresh" id="refresh">&thinsp;</button>
    <h2 class="dark">Current talks</h2>
    <div class="error" v-if="error">Sorry, something went wrong!</div>
    <div v-if="!loading && !error">
        <table>
            <tr>
                <th>
                    Talk/Room
                </th>
                <th>
                    Full?
                </th>
            </tr>
            <tr v-for="(talk, index) in talks">
                <td>
                    <div class="room dark">
                        <div class="label">Room:</div>
                        <div>{{ talk.roomName }}</div>
                        <div class="favs" v-if="talk.numberOfFavorites"><img src="img/StarFilled.png">&nbsp;{{ talk.numberOfFavorites }}</div>
                    </div>
                    <div class="time">
                        <div class="label">Time:</div>
                        <div>{{ talk.formattedStart }}</div>
                    </div>
                    <div class="talk">
                        <div class="label">Talk:</div>
                        <div>{{ talk.title }}</div>
                    </div>
                </td>
                <td>
                    <input type="checkbox" v-bind:id="index" v-model="talk.fullyBooked" v-on:change="update"><label v-bind:for="index"></label>
                </td>
            </tr>
        </table>
    </div>
</main>

<footer>
    <a target="new" rel="noopener noreferrer" href="https://programm.javaland.eu">Return to Javaland 2017 Program</a>
    <span>powered by<a href="http://www.dukecon.org" target="_blank" rel="noopener noreferrer">DukeCon</a></span>
</footer>
</body>
</html>